<div>
    Lista de mensajes de los clientes
</div>
<div>
    <input type="text" id="messageInput" placeholder="Ingrese un mensaje">
    <button id="boton" onclick="sendMessage()">Enviar</button>
</div>

<div id="messageList"></div>

  <h1>Messages</h1>
    <ul>
        {{#each mensajes}}
            <h3>User: {{this.user}} - Message: {{this.message}} </h3>
        {{/each}}
    </ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
