<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Enviado</title>
</head>
<body>
    <h1>Correo Enviado</h1>
    <p>Se envió el link al correo electrónico {{ email }}.</p>
    <p>Para poder restablecer tu contraseña, ingresá a tu correo y seguí las instrucciones.</p>
    <p>Por favor, revisa tu bandeja de entrada y también la carpeta de spam.</p>
</body>
</html>